body {
  background-color: #FDFDFD;
  color: #333;
  font-family: "Hind", "Verdana", sans-serif;
  font-size: 17px;
  line-height: 1.45;
  padding: 20px 15px;
  margin: 0 auto;

  -moz-font-feature-settings: "kern", "liga";
  -webkit-font-feature-settings: "kern", "liga";
  font-feature-settings: "kern", "liga";
}
@media not handheld {@media (min-width: 992px) {
  body {
    width: 1000px;
  }
}}

@media (min-width: 768px) {
  section {
    width: 730px;
  }
}
@media not handheld {@media (min-width: 992px) {
  section {
    display: inline-block;
    margin-left: 170px;
  }
}}

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 6px 22px 3px 22px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #424345;
  background: rgb(223, 227, 232);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  *margin-left: .3em;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-large {
  padding: 9px 25px;
  font-size: 17px;
  line-height: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn-large [class^="icon-"] {
  margin-top: 2px;
}

.btn-small {
  padding: 3px 18px;
  font-size: 13px;
  line-height: 22px;
}

.btn-small [class^="icon-"] {
  margin-top: 0;
}

a.dl {
  display: none;
}
/*
html.js.linux a.default {
  display: none;
}*/
html.js.linux a.gnulinux {
    display: inline-block;
}
/*
html.js.osx a.default {
  display: none;
}*/
html.js.osx a.macos {
    display: inline-block;
}
/*
html.js.windows a.default {
  display: none;
}*/
html.js.windows a.windows {
    display: inline-block;
}

h1, h2, h3 {
  color: black;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 15px;
  margin-bottom: 5px;
}
h3 span.lbl {
  font-weight: 400;
}
h1 {
  font-size: 27px;
}
h2 {
  font-size: 23px;
}
h3 {
  font-size: 19px;
}
@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
}

div.img, img {
  margin: 40px 0 20px 0;
}
div.img img {
  margin: 0;
}

p {
  margin: 0 0 10px;
}
article p {
  -moz-hyphens: auto;
  hyphens: auto;
}
article p, article ul, article ol {
  margin: 0 0 .8em;
}
@media (min-width: 768px) {
  article p {
    margin-bottom: 1em;
  }
  article h1, article h2, article h3 {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

ul, ol {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 25px;
}

blockquote {
  margin: 15px 20px 1em;
  padding: 15px 0;
  font-style: italic;
  line-height: 1.32;
}
@media (min-width: 768px) {
  blockquote {
    font-size: 91%;
    margin: 15px 40px 1em;
  }
}

a {
  background-color: transparent;
  color: #3F94C5;
  text-decoration: none;
}
a:hover, a:focus {
  color: #2A6496;
  text-decoration: none;
}
ul.nav a {
  border-bottom: none;
}
a:active, a:hover {
  outline: 0;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
code {
  font-family: "Source Code Pro", Consolas, Menlo, Inconsolata, "DejaVu Sans Mono", monospace;
}
img {
  height: auto;
  max-width: 100%;
}


h1 a, h1 a:focus, h2 a, h2 a:focus, h3 a, h3 a:focus, h4 a, h4 a:focus {
  color: inherit;
}
