<!DOCTYPE html>
<html class="windows x86 no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta property="og:image" content="http://trufont.github.io/img/app.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Adrien T&eacute;tar">

    <title>Trufont</title>

    <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body class="container">
    <section>
      {{ content }}
    </section>
  </body>
</html>
